#container {
  margin: auto;
  width: 70%;
}

h1 {
  text-align: center;
}

img {
  width: 170px;
}

#versus {
  display: inline-block;
  width: 150px;
}

#talk {
  float: right;
}

#baloon-talk {
  display: inline-block;
}

.word {
  position: absolute;
  margin-top: 35px;
  margin-left: 10px;
  font-size: 15px;
}

.bowser {
  width: 220px;
  float: right;
}